*

# common files between crates and root directory
!.gitignore
!.gitattributes
!justfile
!Cargo.toml
!Cargo.lock
!README.md
!rustfmt.toml
!compose.yaml
!.cargo/
!.cargo/config.toml
!rust-toolchain.toml

# allowlist `crates` directories and their children, regardless of place
!crates/
!crates/**/
!crates/**/*.rs

# SQL grammar
!crates/**/*.pest
